a {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
}
a#visited {
    color: cornflowerblue;
}
.grayedOut {
    color: gray;
}
footer {
    text-align: center;
}
p, footer {
    font-size: small;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1, h2 {
    text-align: center;
}
h1, nav {
    font-size: medium;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}